h1 {
    color: red;
}

.colleges {
    background-color: #c83;
}

.topics li {
    list-style-type: none;
}

figure img {
    max-width: 300px;
}

figure {
    display: inline-block;
    margin: 20px;
}